{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="card">
        <h1>Login</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email }}
            {{ form.email.errors }}
            {{ form.password.label }} {{ form.password }}
            {{ form.password.errors }}
            {{ form.remember_me.label }} {{ form.remember_me }}
            {{ form.submit }}
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
    </div>
{% endblock %}
